{% extends 'base.html.twig' %}

{% block title %}Create New Departement{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Create New Departement</h1>

        <div class="card shadow-sm">
            <div class="card-body">
                {{ include('departement/_form.html.twig') }}

                <div class="mt-3">
                    <a href="{{ path('app_departement_index') }}" class="btn btn-outline-secondary">Back to list</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
